<div class="row">
  <div class="span5" style="font-size: 12px;">
    <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Nunc tincidunt</a></li>
      <li><a href="#tabs-2">Proin dolor</a></li>
      <li><a href="#tabs-3">Aenean lacinia</a></li>
    </ul>
    <div id="tabs-1">
      <p>Tab content.</p>
    </div>
    <div id="tabs-2">
      <p>Tab content.</p>
    </div>
    <div id="tabs-3">
      <p>Tab content</p>
    </div>
  </div>
  </div>
  <div class="span4">
    content here
  </div>
</div>
